@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body {
    background-color: #ffffff;
}

h1 {
    color: #B8BF80;

}

h1#principal {
    text-align: center;
    font-family: "Playwrite MX", cursive;
    font-style: normal;
    font-size: 40px;
}

h2 {
    color: #D4D9B0;
}

.basico {
    color: #000000;
    font-family: "DM Serif Display", serif;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    font-size: 35px;
}

.intermediario {
    color: #000000;
    font-family: "DM Serif Display", serif;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    font-size: 35px;
}

.avancado {
    color: #000000;
    font-family: "DM Serif Display", serif;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    font-size: 35px;
}

.paragrafo{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #B8BF80;
    font-weight: 500;
}

.aprendendo{
    color: #000000;
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    font-size: 40px;
}