@charset "UTF-8";

/*  Todas as demais mídias  */

/*  Typical Device Breakpoints
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes telas: acima de 1200px

----- DADOS ENCONTADOS 2024 -----

Celular, Retrato: 320px, 375px, 414px;
Celular, Paisagem: 568px, 667px, 736px, 812px;
Tablet, Retrato: 768px, 834px;
Tablet, Paisagem: 1024px, 1112px;
Laptop: 1366px, 1440px;
Desktop: 1680px, 1920px;

----------------------------------
*/

@media print {
    /* IMPRESSÃO */

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    main{
        border: 2px solid #000000;
    }

    main::after{
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
    }

    main h1{
        text-shadow: none;
        color: #000000;
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: block;}
    #pc {display: none;}
    #tv {display: none;}
    #laptop {display: none;}
}

@media screen and (min-width: 320px) and (max-width: 567px) and (orientation: portrait) {

    /* CELULAR RETRATO */
    body {
        background-image: url(../imagens/back-phone.jpg);
    }

    #phone {display: block;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}
    #laptop {display: none;}
}

@media screen and (min-width: 568px) and (max-width: 812px) and (orientation: landscape) {

    /* CELULAR PAISAGEM */
    body {
        background-image: url(../imagens/back-phone.jpg);
    }

    #phone {display: block;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}
    #laptop {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 834px) and (orientation: portrait){

    /* TABLET RETRATO */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    #phone {display: none;}
    #tablet {display: block;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}
    #laptop {display: none;}
}

@media screen and (min-width: 1024px) and (max-width: 1112px) and (orientation: landscape){

    /* TABLET PAISAGEM */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    #phone {display: none;}
    #tablet {display: block;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}
    #laptop {display: none;}
}

@media screen and (min-width: 1366px) and (max-width: 1440px) {

    /* LAPTOP */
    body {
        background-image: url(../imagens/back-laptop.jpg);
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}
    #laptop {display: block;}
}

@media screen and (min-width: 1680px) and (max-width: 1920px) {

    /* DESKTOP */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: block;}
    #tv {display: none;}
    #laptop {display: none;}
}

@media screen and (min-width: 1921px) and (orientation: landscape) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: block;}
    #laptop {display: none;}
}